.filters {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 20px 0;

    .filters-list {
        display: flex;
        
        &__item {
            &:not(:first-child) {
                margin-left: 10px;
            }
            font-weight: 500;
        }

    }
}
